@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#headerLogo{
    height: 60px;
    width: 60px;
    vertical-align: middle;
}
header, footer{
    background-color: rosybrown;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #e0e0e0;
}
*{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: black;
}
header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

footer{
    position: sticky;
    bottom: 0px;
    display: flex;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.socialMedia {
    height: 20px;
    width: 22px;
}
footer a{
    justify-content: center;
    margin-left: 2%;
}
footer p{
    font-size: 10px;
}
footer span{
    margin-right: 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

