/* Importing of font family Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

#headerLogo {
    height: 100%;
    width: 60px;
}

.logo {
    margin-left: 1%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}

.main-container {
    width: 100%;
    height: 100%;
}

a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: black;
}

/* Making header and footer styling common for all pages */
.header-footer {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    top: 0;
}

footer {
    padding: 0.7%;
    bottom: 0;
    display: flex;
    align-content: space-around;
}

#login-button {
    margin: auto;
}

#login {
    margin-right: 2%;
}

#login-form {
    display: flex;
    flex-direction: column;
}

.login-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#login-button {
    margin: auto;
}

.socialMedia {
    height: 20px;
    width: 22px;
}

#contact {
    margin-left: 2%;
}

#socialMediaImages {
    margin-right: 2%;
}

#copyright_text {
    font-size: 10px;
}

.hotel-name-rating {
    padding: 3% 3%;
}

.rated {
    color: orange;
}