header a{
    margin-left: 1%;
}
header span{
    margin-right: 2%;
}
.hotelImages{
    height: 250px;
    width: 250px;
}
.socialMedia{
    height: 20px;
    width: 22px;
}
.radisson{
    margin: 2% 5%;
    background-color: lightgrey;
    width: 40%;
}
.radissonFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.radisson img{
    padding-right: 20px;
}
.lalit{
    margin: 2% 5%;
    background-color: lightgrey;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.lalit img{
    padding-right: 20px;
}
.tajPalace{
    margin: 2% 5%;
    background-color: lightgrey;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.tajPalace img{
    padding-right: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    padding: 0px 20px;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}