header span{
    float: right;
    padding: 20px 20px;
}
#radissonBLue{
    height: 500px;
    width: 500px;
}
.socialMedia{
    height: 20px;
    width: 22px;
}
.HotelDescription{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}
.customerDetails{
    margin: 2%;
}
.amount{
    margin: 2%;
    border: 1px solid black;
    padding: 1% 2%;
    border-radius: 5px;
}